name: autosync

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  autosync:
    name: Auto Sync
    runs-on: ubuntu-latest
    steps:
      - uses: vuejs-translations/ryu-cho@v1
        with:
          workflow-name: autosync
          access-token: ${{ secrets.AUTO_SYNC_ACCESS_TOKEN }}
          username: github-actions
          email: "action@github.com"

          upstream-repo: https://github.com/vitest-dev/docs-cn.git
          upstream-repo-branch: dev

          head-repo: https://github.com/vuejs/docs.git
          head-repo-branch: main
          path-starts-with: docs/

          track-from: 4ed8b2f83a2f149734f3c5ecb6438309bd85a9e5

